* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 64px;
}

:root {
  --primary-color: #004aad;
  --primary-color-wt: #245eac;
  --secondary-color: #e6e6e6;
  --black: #000000;
  --white: #ffffff;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--secondary-color);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.title,
.subtitle,
.title span {
  font-family: "Anton", sans-serif;
  color: var(--primary-color);
  font-weight: 500;
}

.title {
  color: var(--primary-color);
  font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;

  span {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary-color);
    text-transform: lowercase;
  }
}

.subtitle {
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .title {
    font-size: 96px;
  }

  .subtitle {
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 32px;
  }
}

.text {
  font-size: 16px;
  line-height: 28px;

  small {
    line-height: 14px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding-top: 3.75rem;
}

@media (min-width: 992px) {
  .section {
    padding-top: 90px;
  }

  .container {
    padding: 0 40px;
  }
}

/* global */

.header {
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background-color: var(--secondary-color);
  z-index: 10;

  .container {
    padding: 16px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    gap: 16px;

    .title-header {
      font-size: 18px;
      text-align: start;
      padding-right: 50px;

      a {
        text-decoration: none;
        color: var(--primary-color);
      }
    }

    .menu {
      .menu-list {
        gap: 16px;
        text-align: center;
        display: flex;
        flex-direction: column;
        max-height: 0;
        opacity: 1;
        overflow: hidden;
        transition: all ease 0.5s;

        .menu-item {
          font-size: 16px;
          list-style-type: none;
          text-align: start;

          a {
            font-weight: bold;
            text-decoration: none;
            color: var(--primary-color);
            transition: color ease 0.5s;

            &:hover {
              color: var(--primary-color-wt);
            }
          }
        }
      }
    }

    .menu-btn {
      width: 40px;
      height: 30px;
      position: absolute;
      top: 20px;
      right: 20px;

      .line {
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background-color: var(--primary-color);
        display: block;
        position: absolute;
        left: 0;
        transition: all 0.5s ease;

        &.line-1 {
          top: 0;

          &.active {
            rotate: 45deg;
            top: 13px;
          }
        }

        &.line-2 {
          top: 50%;
          transform: translateY(-50%);

          &.active {
            opacity: 0;
          }
        }

        &.line-3 {
          bottom: 0;

          &.active {
            rotate: -45deg;
            bottom: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .header {
    .container {
      align-items: center;
      padding: 32px 20px;
      flex-direction: row;
      gap: 0;

      .title-header {
        text-align: start;
      }

      .menu {
        .menu-list {
          max-height: 100%;
          opacity: 0;
          height: 100%;
          opacity: 1;
          flex-direction: row;

          .menu-item {
            text-align: center;
            font-size: 16px;
          }
        }
      }

      .menu-btn {
        display: none;
      }
    }
  }
}

/* header */

.section-banner {
  padding-top: 180px;
  padding-bottom: 0;
}

@media (min-width: 992px) {
  .section-banner,
  .section-image,
  .section-resume {
    padding-bottom: 90px;
  }
}

/* section-banner */

.section-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 0;

  .image {
    width: 848px;
    width: 100%;
    height: auto;
    object-position: top;
    object-fit: contain;
  }

  .container-lines {
    position: absolute;
    width: 1920px;
    top: -450px;

    .line {
      width: 100%;
      position: absolute;
      z-index: -1;
    }

    .line-2 {
      top: 50px;
    }

    .line-3 {
      top: 100px;
    }

    .line-4 {
      top: 150px;
    }

    .line-5 {
      top: 200px;
    }

    .line-6 {
      top: 250px;
    }
  }
}

@media (min-width: 992px) {
  .section-image {
    .container-lines {
      top: 90px;
    }
  }
}

/* section-image */

.section-resume {
  position: relative;
  z-index: 2;
  padding-bottom: 0;

  .container-resume {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;

    .description {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .image {
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: top;
    }
  }

  .description-plus {
    ul {
      padding: 20px;

      li {
        font-size: 16px;
        line-height: 28px;

        &.title-list {
          color: var(--primary-color);
          list-style: none;
          font-size: 18px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .section-resume {
    .container-resume {
      flex-direction: row;

      .description,
      .image {
        width: 50%;
      }

      .image {
        max-width: 848px;
        height: 100%;
      }
    }
  }

  .description-plus {
    margin-top: 50px;
  }
}

/* section-resume */

.section-objectves {
  .container-objectives {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    .card {
      background-color: var(--white);
      padding: 32px;
      position: relative;

      .card-title {
        color: var(--primary-color);
        font-family: "Anton", sans-serif;
        font-size: 28px;
        line-height: 100%;
        font-weight: 500;
        margin-bottom: 16px;
      }

      .btn-objectives {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        border: none;
        background-color: var(--primary-color);
        transition: 0.5s ease background;
        cursor: pointer;

        &:hover {
          background-color: var(--primary-color-wt);
        }
      }
    }
  }

  .especifics {
    background-color: #fff;
    padding: 32px;
    margin-top: 16px;

    .card-title {
      color: var(--primary-color);
      font-family: "Anton", sans-serif;
      font-size: 32px;
      line-height: 38px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .accordion-button {
      background-color: transparent;
      border: none;
      font-size: 20px;
      font-weight: bold;
      color: var(--primary-color);
      font-family: "Inter", sans-serif;
      cursor: pointer;
      text-align: start;

      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1rem 0;
      gap: 1rem;

      img {
        transition: 0.3s ease rotate;
      }

      &.active {
        img {
          rotate: 180deg;
        }
      }
    }

    .accordion-collapse {
      max-height: 0;
      overflow: hidden;
      transition: all ease 0.5s;

      .content {
        padding: 1rem;

        strong {
          font-size: 18px;
          color: var(--primary-color);
          margin-bottom: 8px;
          display: block;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .section-objectves {
    .container-objectives {
      grid-template-columns: repeat(2, 1fr);

      .card-title {
        font-size: 32px;
        line-height: 38px;
      }
    }
  }
}

/* section-objectves */

.section-students {
  .swiper {
    padding-top: 32px;
    position: relative;

    .conatiner-buttons {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(33% + 13px);
      display: none;
      flex-direction: column;
      gap: 32px;
      z-index: 1;

      .swiper-button-next,
      .swiper-button-prev {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: var(--white);
        width: 50px;
        height: 50px;
        padding: 12px;

        &::after {
          content: none;
        }
      }
    }

    .swiper-pagination {
      position: relative;
      bottom: 0;
      padding: 16px;

      .swiper-pagination-bullet {
        background: var(--primary-color);
        width: 16px;
        height: 6px;
        border-radius: 0;
      }
    }

    .swiper-slide {
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      /* gap: 16px; */
      /* max-width: 329px; */
      padding: 16px;
      transition: all 0.5s ease;
      height: auto;

      h3 {
        color: var(--primary-color);
        font-family: "Anton", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
      }
    }
  }
}

@media (min-width: 992px) {
  .section-students {
    .swiper {
      .conatiner-buttons {
        display: flex;
      }
    }

    .swiper-slide {
      &.swiper-slide-active {
        margin-right: 114px !important;
      }
    }
  }
}

/* section-students */

/* section-comunication */
.section-comunication {
  .conatiner-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    .card {
      background-color: var(--white);
      padding: 32px;
      position: relative;

      .card-title {
        color: var(--primary-color);
        font-family: "Anton", sans-serif;
        font-size: 22px;
        line-height: 100%;
        font-weight: 500;
      }

      .btn-objectives {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        border: none;
        background-color: var(--primary-color);
        transition: 0.5s ease background;
        cursor: pointer;

        &:hover {
          background-color: var(--primary-color-wt);
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .section-comunication {
    .conatiner-card {
      grid-template-columns: repeat(2, 1fr);

      .card {
        .card-title {
          font-size: 22px;
          line-height: 38px;
        }
      }
    }
  }
}

/* section-partners */
.section-partners {
  .subtitle {
    &.custom {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 0;
    }
  }
}

/* section-planner */
.section-planner {
  padding-bottom: 90px;
}

/* section-form */
.section-form {
  background-color: var(--primary-color);

  .container {
    padding: 90px 20px;
    text-align: center;

    .subtitle {
      color: var(--white);
    }

    a {
      color: var(--primary-color);
      background-color: var(--white);
      padding: 1rem 2rem;
      font-size: 20px;
      text-decoration: none;
      margin-top: 1rem;
      display: inline-block;
    }
  }
}

/* footer */
.footer {
  padding: 16px;
  text-align: center;

  .text {
    a {
      color: var(--primary-color);
      text-decoration: none;
    }
  }
}
